.costBreakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 24px;
  gap: 12px;
  width: 407px;
  height: 230px;
  background: #FFFFFF;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.headerTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payMethod {
  width: 100%;
}


.methods {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
}

.containButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientInfo {
  width: 100%;
}

.clientTicketHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.libreta {
  padding: 4px;
  background-color: #C6BFD2;
  color: #3F2766;
  border-radius: 4px;
  height: fit-content;
}

.app {
  padding: 4px;
  background-color: #176DEE33;
  color: #176DEE;
  border-radius: 4px;
  height: fit-content;
}