.containerLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FE8209 0%, #F8CB2E 100%);
}

.bgLogin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  width: 100%;
}

.logiImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  background: #FFFFFF;
  border-radius: 12px;
  width: 446.26px;
  height: 360px;
  margin: 10px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.loginInput {
  margin: 10px 0;
}

.containerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}


