.navinfo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
}

.containerInfo {
  width: 50%;
  display: flex;
  justify-content: center;
}

.infoStore {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: start;
}