.navinfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  margin: 10px 0;
}

.infoTurn {
  background-color: #F9F9F9 !important;
  border-radius: 6px !important;
}

.infoOrder {
  width: 70%;
  display: flex;
  padding: 4px 24px 4px 24px;
  border-radius: 6px;
  border: 1px;
  justify-content: space-between;
  background-color: #F9F9F9;
}
.queueInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoStore {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.inputSearchOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  padding: 5px;
  border: 1px solid #3F8E00;
  border-radius: 6px;
}

.inputSearch {
  border: none;
  padding: 100px;
}

.historyIcon {
  color: #3F8E00;
  align-self: center;
}

.btnClients {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 12px;
  margin: 0 auto !important;
  width: 117.33px !important;
  height: 48px !important;
  background: #F9F9F9 !important;
  border: 1px solid #E0E0E0 !important;
  border-radius: 6px !important;
}
